.table-action {
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.table-action:hover {
  background-color: var(--secondary-color);
}

td > .table-action {
  margin-right: 10px;
}

.add-product {
  margin: 10px;
}

.App {
  position: relative;
}

.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay.visible {
  display: block;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-modal {
  height: 30px;
  width: 30px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.close-modal:hover {
  background-color: var(--secondary-color);
}

/*  SINGLE PRODUCT */

.product {
  display: flex;
  justify-content: center;
}

.product-prop {
  display: flex;
  align-items: center;
}

.product-prop h3 {
  margin-left: 20px;
}
