:root {
  --primary-color: #1b2150;
  --secondary-color: #e20714;
  --other-color: #fdd921;
}

body {
  font: 15px/1.8 'Quicksand', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

button {
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  padding: 20px 60px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: var(--secondary-color);
}

.centered-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
